/node_modules
/public/hot
/public/images
/public/customer
/public/upload
/public/storage
/public/vendors
/storage/*.key
/storage/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
.phpunit.result.cache
